apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: luma-cluster-secret
  labels:
    managed-by: "infisical-operator"
    argocd.argoproj.io/secret-type: cluster
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  hostAPI: https://infisical.vivaconagua.org/api
  resyncInterval: 60
  authentication:
    kubernetesAuth:
      identityId: 6f4af54c-d38f-4ee9-a5db-8980aa5d43d3
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: default
      secretsScope:
        projectSlug: lumaserv-u-j-fw
        envSlug: prod
        secretsPath: "/luma-cluster"
  managedKubeSecretReferences:
    - secretName: luma-cluster-secret
      secretNamespace: argocd
      template:
        data:
          name: "luma-cluster"
          server: "https://45.132.126.38:6443"
          config: |
            {
              "bearerToken": "{{ .LUMA_CLUSTER_BEARER_TOKEN.Value }}",
              "tlsClientConfig": {
                "serverName": "45.132.126.38",
                "caData": "{{ .LUMA_CLUSTER_CA.Value }}"
              }
            }
