apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: argocd-github-creds
  labels:
    managed-by: "infisical-operator"
    argocd.argoproj.io/secret-type: repo-creds
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  hostAPI: https://infisical.vivaconagua.org/api
  resyncInterval: 60
  authentication:
    kubernetesAuth:
      identityId: 9cc0c259-7cc4-4b1d-8212-fc0faa5f76dc
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: default
      secretsScope:
        projectSlug: basic-cluster-v-zty
        envSlug: prod
        secretsPath: "/argocd"
  managedKubeSecretReferences:
    - secretName: argocd-github-creds
      secretNamespace: argocd
      template:
        data:
          githubAppPrivateKey: "{{ .github_app_private_key_pem.Value }}"
          url: "https://github.com/Viva-con-Agua/"
          type: "git"
          githubAppID: "208409"
          githubAppInstallationID: "26321093"