apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: argocd-secret
  labels:
    managed-by: "infisical-operator"
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  hostAPI: https://infisical.vivaconagua.org/api
  resyncInterval: 60
  authentication:
    kubernetesAuth:
      identityId: 9cc0c259-7cc4-4b1d-8212-fc0faa5f76dc
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: default
      secretsScope:
        projectSlug: basic-cluster-v-zty
        envSlug: prod
        secretsPath: "/argocd"
  managedKubeSecretReferences:
    - secretName: argocd-secret
      secretNamespace: argocd
      template:
        data:
          dex.github.clientSecret: "{{ .dex_github_clientSecret.Value }}"
          web.github.secret: "{{ .webhook_github_secret.Value }}"
          server.secretkey: "X9V2cxvFNq/rrKhWMW8IIoVLT1I8DGjI3BketWblXHs="
